body {
  background: linear-gradient(
    109.6deg,
    rgb(187, 187, 187) 16%,
    rgb(5, 84, 94) 91.1%
  );
  font-family: "Fira Sans", serif;
  height: 100%;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

.nav div.logo {
  float: left;
  width: 65px;
  height: 65px;
  transform: translateX(-25px);
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.nav div.logo a:hover {
  color: #24292f;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.navlinks a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 20;
}

.navlinks a:hover {
  color: #24292f;
}

#snav {
  position: fixed;
  top: 35%;
  z-index: 9999;
  font-size: 40px;
  font-family: "Fira Sans", sans-serif;
}
#snav ul {
  list-style: none;
}
#snav * {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#snav li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
#snav .fa {
  vertical-align: middle;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: relative;
  z-index: 4;
}
#snav li span {
  font-size: 20px;
  margin-top: 10px;
  height: 35px;
  line-height: 35px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0px 15px;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 3;
}
#snav li a:hover .fa {
  transform: rotate(720deg);
}
#snav li a:hover span {
  visibility: visible;
}

#snav li .fa {
  background-color: #eee;
  color: #555;
}

#li,
#snav a:hover .fa-linkedin {
  background-color: #1666c2;
}
#gh,
#snav a:hover .fa-github {
  background-color: #24292f;
}
#cv,
#snav a:hover .fa-file-lines {
  background-color: #3dc25d;
}
#email,
#snav a:hover .fa-paper-plane {
  background-color: purple;
}

#snav.en {
  left: 0;
  text-align: left;
}
#snav.en li span {
  left: -100px;
}
#snav.en li a:hover span {
  left: 45px;
}

main {
  margin: 0px auto;
  width: 100%;
  padding: 0 150px;
}

.hero {
  max-width: 1000px;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  text-align: left;
  display: flex;
  height: 100vh;
  min-height: 50rem;
  max-height: 60em;
  position: relative;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
}

.hero p {
  color: #245f68;
  font-size: 20px;
  font-weight: bolder;
}

h1 {
  color: #ece8e5;
  font-size: 72px;
}

.hero h2 {
  color: #d7cec7;
  font-size: 72px;
}

.class h2 {
  width: 100%;
  height: 100%;
}

.about {
  padding: 192 px 0;
}
.main-container {
  max-width: 120rem;
  margin: auto;
  width: 100%;
}

.about-heading {
  margin-bottom: 9rem;
  color: #245f68;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.heading-sec__main::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.skills-heading {
  margin-bottom: 9rem;
  color: #245f68;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}
.projects-heading {
  margin-bottom: 9rem;
  color: #245f68;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}
.contact-heading {
  margin-bottom: 9rem;
  color: #245f68;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.skillsr {
  padding-left: 12%;
}

img {
  vertical-align: middle;
  border: 0;
}

h3 {
  color: #ece8e5;
  font-size: 48px;
}

p {
  color: #245f68;
  font-weight: bold;
}
